@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Josefin+Sans:ital,wght@1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;1,6..12,500;1,6..12,700&family=Playpen+Sans:wght@200;500&family=Quicksand:wght@400;500&display=swap');
.about{
    font-family: 'Gabarito', sans-serif;
    overflow: hidden;
    background-color: #e8daf1;
    padding-left: 4rem;
    padding-right: 4rem;
    /* align-items: center; */
}
.about .contain-about{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about .contain{
    /* margin-left: 2rem; */
    /* margin-right: 2rem; */
    display: flex;
    flex-direction: column;
    gap: 0rem;
}
.about img{
    width: 20rem;
    height: 15rem;

}
.about .myphoto::before{
    position: absolute;
    background-color: initial;
    content: "";
    height: 200%;
    left: 15px;
    top: 15px;
    border: 1px solid #235a4c;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    
}
.title{
    font-size: 2rem;
    color: #953fc1;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.about .contain p{
    width: 90%;
    text-align: left;
    font-size: 1.3rem;
}
.about .contain .dash{
    color: #C994e3;
}
.about .contain-tech{
    /* width: 60%; */
    text-align: left;
}
.about .contain-tech h2{
    font-size: 1.4rem;
    color: #953fc1;
}
.about .contain-tech ul {
    list-style: none;
    font-size: 1.1rem
}
.about .contain-tech ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #C994e3;
    font-weight: 400; 
    display: inline-block; 
    width: 1rem; 
    margin-left: -1em; 
}

.about .contain-tech ul li{
    color: rgb(88, 88, 88);
}

@media(max-width :981px){
    .about .contain-about{
        flex-wrap: wrap-reverse;
        align-items: flex-end;
    }
}
@media(max-width : 591px){
    .title{
        font-size: 1.7rem;
    }
    .about .contain p{
        font-size: 1.1rem;
    }
}
