@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Josefin+Sans:ital,wght@1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;1,6..12,500;1,6..12,700&family=Playpen+Sans:wght@200;500&family=Quicksand:wght@400;500&display=swap');
.about{
    font-family: 'Gabarito', sans-serif;
    overflow: hidden;
    /* align-items: center; */
}
.about .contain{
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0rem;
}
.title{
    font-size: 2rem;
    color: rgb(235, 111, 138);
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.about .contain p{
    /* width: 60%; */
    text-align: left;
    font-size: 1.3rem;
}
.about .contain-tech{
    /* width: 60%; */
    text-align: left;
}
.about .contain-tech h2{
    font-size: 1.4rem;
    color: rgb(235, 111, 138);
}
.about .contain-tech ul {
    list-style: none;
    font-size: 1.1rem
}
.about .contain-tech ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: rgb(235, 111, 138);
    font-weight: 400; 
    display: inline-block; 
    width: 1rem; 
    margin-left: -1em; 
}

.about .contain-tech ul li{
    color: rgb(88, 88, 88);
}

@media(max-width :981px){
  
}
