@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Josefin+Sans:ital,wght@1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;1,6..12,500;1,6..12,700&family=Playpen+Sans:wght@200;500&family=Quicksand:wght@400;500&display=swap');
.home{
    font-family: 'Gabarito', sans-serif;
    background-color: #faadad;
    height: fit-content;
    margin-top: 0;
    overflow: hidden;
}
.home .contain{
    padding-top: 7rem;
    display: flex;
    flex-direction: row;
    gap: 13rem;
}
.myphoto{
    display: inline-block;
    position: relative;
    width: 40rem;
    left: 50%;
    top: 1%;
    margin-top: -7rem;
    /* top: 1%; 
    left: 30rem;
    margin-top: -7rem;
    width: 40rem;
    object-fit: cover; 
    z-index: 0; */
}
.contain-words{
    z-index: 1;
    position: absolute;
    top: 35%; /* Adjust the vertical position as needed */
    left: 0;
    text-align: start;
    /* margin-left: 2rem; */
    color: white;
    font-weight: 400;
    margin-left: 2rem;
}
.contain-words p{
    color: rgb(99, 98, 98);
    font-size: 1.3rem;
    text-transform: capitalize;
}
.contain-words h2{
    font-size: 2.5rem;
}
.contain-words h2 span{
    color: rgb(235, 87, 119);
    font-weight: 600;
    font-size: 2.5rem;

}
@media(min-width :961px){
    .myphoto{
        display: inline-block;
        position: relative;
        width: 40rem;
        left: 50%;
        top: 1%;
        margin-top: -7rem;
        /* top: 1%; 
        left: 30rem;
        margin-top: -7rem;
        width: 40rem;
        object-fit: cover; 
        z-index: 0; */
    }

    }
@media(max-width :960px){
    .myphoto{
        display: inline-block;
        position: relative;
        width: 40rem;
        left: 40%;
        top: 1%;
        margin-top: -7rem;
    }
    

}
@media(max-width :536px){
    .myphoto{
        position: relative;
        left: 5%;
        /* top: 1%; 
        left: 50%;
        margin-top: -7rem; */
        width: 35rem;
        object-fit: cover; 
    }
    .contain-words{
        z-index: 1;
        position: absolute;
        top: 35%; /* Adjust the vertical position as needed */
        left: -1%;
        text-align: start;
        /* margin-left: 2rem; */
        color: white;
        font-weight: 400;
    }
    .contain-words p{
        font-size: 1.1rem;
    }
    .contain-words h2{
        font-size: 2.2rem;
    }
    .contain-words h2 span{
        font-size: 2.2rem;
    
    }
}