@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Josefin+Sans:ital,wght@1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;1,6..12,500;1,6..12,700&family=Playpen+Sans:wght@200;500&family=Quicksand:wght@400;500&display=swap');
.home{
    font-family: 'Gabarito', sans-serif;
    background-color: #faadad;
    height: fit-content;
    margin-top: 0;
    overflow: hidden;
}
.home .contain{
    padding-top: 7rem;
    display: flex;
    flex-direction: row;
    gap: 13rem;
}
.myphoto{
    margin-top: -7rem;
    width: 40rem;
}
.contain-words{
    text-align: start;
    margin-left: 2rem;
    color: white;
    font-weight: 400;
}
.contain-words p{
    color: rgb(99, 98, 98);
    font-size: 1.3rem;
    text-transform: capitalize;
}
.contain-words h2{
    font-size: 2.5rem;
}
.contain-words h2 span{
    color: rgb(235, 87, 119);
    font-weight: 600;
    font-size: 2.5rem;
}