@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Josefin+Sans:ital,wght@1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;1,6..12,500;1,6..12,700&family=Playpen+Sans:wght@200;500&family=Quicksand:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');
.mynav{
    background-color: #efe8f4;
    padding-left: 2rem;
    padding-right: 2rem;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
.custom-nav{
    font-family: 'Gabarito', sans-serif;
    font-size: 1.2rem;
    color: rgb(99, 98, 98);
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    z-index: 1;
}
.toggler{
    color: #C994E3;
}
.custom-nav span{
    font-size: 1rem;
    padding-top: .3rem;
    color: #C994e3;
}
.logo-photo{
    width: 4rem;
    padding-left: 0;
    margin-left: 0;
}
.logo-photo:hover{
    opacity: .5;
}
.navitem{
    font-family: 'Gabarito', sans-serif;
    font-size: 1.2rem;
    color:  #953fc1; 
    /* #615a5a; */
    /* color:  #615a5a; */
    font-weight: 400;
}
.navitem:hover{
    color: #C994e3;
}
.resume-btn{
    display: block;
}
a.rn-btn {
    color: #C994e3;
    border-color: #C994e3;
}
a.rn-btn, button.rn-btn {
    padding: 0 23px;
    height: 40px;
    display: inline-block;
    line-height: 34px;
    border: 2px solid #C994e3;
    border-radius: 6px;
    font-size: 14px;
    position: relative;
    z-index: 2;
    color: #C994e3;
    letter-spacing: .2px;
    text-transform: uppercase;
}
nav a.rn-btn, button.rn-btn{
    font-family: 'Gabarito', sans-serif;
    transition: .7s;
    border-radius: 6px;
    margin-left: 1rem;
    border: 2px solid #C994e3;
    background-color:#C994e3;
    color: #C994e3;
    margin-top: .2rem;
    color: white;
}
nav a.rn-btn:hover, button.rn-btn:hover{
    opacity: .5;
    transition: ease .2s;
}
 
@media(max-width:990px){
    nav a.rn-btn, button.rn-btn{
        margin-left:0;
    }
}